@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Roboto Slab", serif;
    color: var(--co-black);
}

.container{
    max-width: 1810px;
    margin: 0 auto;
    padding: 0 15px;
}


.logo{
    
    
    /* что бы не уменьшался */
    flex-shrink: 0;
}

.btn {
    border-radius: 3px;
    font-weight: 400px;
    width: 185px;
    height: 50px;
    background-color: var(--co-green);
    color: var(--co-white);
}
.btn:hover,
.btn:focus-visible{
    /* outline нужно указывать как у border */
outline: 2px solid var(--co-dark-green);
}
.btn__singin{
    background-color: transparent;
    color: #000;
}
