.footer__section {
    height: 312px;
    margin-top: 120px;
    background-color: var(--co-grey);
    border-radius: 50px 50px 0 0;
}
.footer{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer__info {
    font-size: 32px;
    font-weight: 700;
    color: var(--co-white);
}
.footer__decr {
    font-size: 24px;
    font-weight: 700;
    color: var(--co-white);
}
.footer__nav {
    height: 24px;
}
.footer__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 4px;

}
.footer__nav-item + .footer__nav-item {
    border-left: 1px solid #808080;
    padding-left: 4px;
}
.footer__nav-link {
    color: var(--co-nav-grey);
    font-size: 20px;
    font-weight: 400;
}
