:root {
    --co-white: #ffff;
    

    --co-black: #000000;

    --co-grey: #2D2D2D;
    --co-light-grey:#f6f6f6;

    --co-nav-grey:#808080;


    --co-red: #fc0807;
    --co-yellow: #fcbb07;

    --co-orange:#FF6600;



}


